body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  font-family: sans-serif;
  background-color: black;
}

#btn {
  padding: 12px 26px;
  color: #ffd60a;
  border-radius: 10px;
  border: 2px solid #ffd60a;
  box-shadow: 8px 8px 12px #ffd60a66;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  appearance: none;
  box-sizing: border-box;
  text-align: center;
  transition:
    font-size 0.5s ease-in,
    border 0.5s ease-in;
}
