/*dark mode button, body changes color */

body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: lightcoral;
  font-family: monospace, sans-serif;
}

html,
body {
  height: 100%;
}

body.darktheme {
  background-color: black;
}

button {
  font-family: monospace, sans-serif;
  font-weight: bold;
  background-color: black;
  border-radius: 10px;
  border: 1px solid black;
  color: lightcoral;
  font-size: 20px;
  padding: 80px;
}

body.darktheme button {
  align-content: center;
  background-color: yellow;
  border-radius: 50%;
  border: solid yellow;
  box-shadow: 0px 0px 120px 95px #d6ff0066;
  color: black;
  height: 200px;
  padding: 50px;
  width: 200px;
}
