body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: black;
}

html,
body {
  height: 100%;
}

.container {
  align-items: center;
  flex-direction: column;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.time {
  border: 3px solid #bc13fe;
  box-shadow:
    0px 0px 20px 20px #bc13fe,
    0px 0px 12px 34px #39ff14,
    0px 0px 34px 47px #ff8912;
  border-radius: 100px;
  padding: 75px;
  font-family: Monospace;
  font-size: 60px;
  color: white;
  text-shadow:
    0 0 5px #fff,
    0 0 8px #fff,
    0 0 19px #fff,
    0 0 40px grey,
    0 0 80px grey;
  font-weight: bold;
}

.date {
  margin-top: 80px;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  font-family: Monospace;
  font-size: 30px;
  font-weight: 500;
}
